<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站点配置</title>
<link href="/Public/server/images/main.css" type="text/css" rel="stylesheet">
<link href="/Public/common/js/jquery-1.4.2.min.js" type="text/css" rel="stylesheet">
<link href="/Public/server/images/jquery.form.js" type="text/css" rel="stylesheet">
<meta http-equiv="x-ua-compatible" content="ie=7" />
</head>
<body class="warp">
<style>
.set_top{background:url('/Public/server/images/set_top.png');height:60px;}
.set_top li{font-weight: bold;float:left;width:98px;line-height:60px;text-align: center;background:url('/Public/server/images/set_top_li.png');}
#set_top_li_bg{background:url('/Public/server/images/set_top_li_hover.png');}
</style>
<include file="Site:common" />
<div id="artlist">
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="addn">
 <form id="myform" action="__CONTROLLER__/update/act/email" method="post">
    <tr>
        <td height="48"  align="right" width="120">邮件模板类型</td>
        <td height="48" align="right" width="120">邮件模板开启状态</td>
        <td height="48"  align="center">管理操作</td>
    </tr>
    <!--后期考虑自动添加模板-->
    <tr> 
        <td height="48" align="right"><strong>会员注册：</strong></td>
        <td width="180" align="right"><input type="radio" name="email" value="1"  />开启
        &nbsp;|&nbsp; <input type="radio" name="email" value="0" />关闭</td>
        <td align='center'>
            <a href="__CONTROLLER__/edit/id/{$menu.id}">编辑模板</a>
        </td>

    </tr>

     <tr> 
        <td height="48" align="right"><strong>验证邮箱：</strong></td>
        <td width="180" align="right"><input type="radio" name="email" value="1"  />开启
        &nbsp;|&nbsp; <input type="radio" name="email" value="0" />关闭</td>
        <td align='center'>
            <a href="__CONTROLLER__/edit/id/{$menu.id}">编辑模板</a>
        </td>

    </tr>


     <tr> 
        <td height="48" align="right"><strong>找回密码：</strong></td>
        <td width="180" align="right"><input type="radio" name="email" value="1"  />开启
        &nbsp;|&nbsp; <input type="radio" name="email" value="0" />关闭</td>
        <td align='center'>
            <a href="__CONTROLLER__/edit/id/{$menu.id}">编辑模板</a>
        </td>

    </tr>


     <tr> 
        <td height="48" align="right"><strong>加入团队：</strong></td>
        <td width="180" align="right"><input type="radio" name="email" value="1"  />开启
        &nbsp;|&nbsp; <input type="radio" name="email" value="0" />关闭</td>
        <td align='center'>
            <a href="__CONTROLLER__/edit/id/{$menu.id}">编辑模板</a>
        </td>

    </tr>

     <tr> 
        <td height="48" align="right"><strong>活动通知：</strong></td>
        <td width="180" align="right"><input type="radio" name="email" value="1"  />开启
        &nbsp;|&nbsp; <input type="radio" name="email" value="0" />关闭</td>
        <td align='center'>
            <a href="__CONTROLLER__/edit/id/{$menu.id}">编辑模板</a>
        </td>

    </tr>



	</form>
</table><br />
<br />
<br />

</div>
</body>
</html>
