<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站点配置</title>
    <link href="/Public/server/images/main.css" type="text/css" rel="stylesheet">
    <link href="/Public/common/js/jquery-1.4.2.min.js" type="text/css" rel="stylesheet">
    <link href="/Public/server/images/jquery.form.js" type="text/css" rel="stylesheet">
    <meta http-equiv="x-ua-compatible" content="ie=7" />
</head>
<body class="warp">
<style>
.set_top{background:url('/Public/server/images/set_top.png');height:60px;}
.set_top li{font-weight: bold;float:left;width:98px;line-height:60px;text-align: center;background:url('/Public/server/images/set_top_li.png');}
#set_top_li_bg{background:url('/Public/server/images/set_top_li_hover.png');}
</style>
<include file="Site:common" />
<div id="artlist">
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="addn">
 <form id="myform" action="__CONTROLLER__/update/act/weixin" method="post">

    <tr> 
      <td  height="48" align="right"><strong>appsecret：</strong></td>
      <td><input type="text" name="appsecret" value="{:C('appsecret')}" class="ipt put_width"/><span>&nbsp;&nbsp;微信公众号appsecret</span>
      </td>
    </tr>
	 <tr> 
      <td  height="48" align="right"><strong>appid：</strong></td>
      <td><input type="text" name="appid" value="{:C('appid')}" class="ipt put_width" /><span>&nbsp;&nbsp;微信公众号appid</span>
	  </td>
    </tr>
	 <tr> 
      <td  height="48" align="right"><strong>token：</strong></td>
      <td><input type="text" name="token" value="{:C('token')}" class="ipt put_width" size="45" /><span>&nbsp;&nbsp;微信公众号token</span></td>
    </tr> 
	<tr> 
      <td  height="48" align="right"><strong>encodingAesKey：</strong></td>
      <td><input type="text" name="encodingAesKey" value="{:C('encodingAesKey')}" class="ipt put_width"  /><span>&nbsp;&nbsp;encodingAesKey</span></td>
    </tr>
	<tr> 
      <td height="48" align="right"><strong>微信公众号用户：</strong></td>
      <td><input type="text" name="wx_user" value="{:C('wx_user')}" class="ipt put_width" /><span>&nbsp;&nbsp;例如:Kevin</span></td>
    </tr>
	<tr> 
      <td  height="48" align="right"><strong>公众号密码：</strong></td>
      <td><input type="text" name="wx_pwd" value="{:C('wx_pwd')}" class="ipt put_width" size="45" /><span>&nbsp;&nbsp;例如:abc123</span></td>
    </tr>
     <tr>
      <td  height="48" align="right"><strong>重新创建菜单：</strong></td>
      <td><input type="radio" name="wx_ismenu"  value="1" <php>if(C('wx_ismenu')=='1')echo checked;</php> />创建菜单<input type="radio" name="wx_ismenu"  value="0" <php>if(C('wx_ismenu')=='0')echo checked;</php> />不创建菜单</td>
    </tr>
     <tr>
         <td  height="48" align="right"><strong>关注后欢迎词:：</strong></td>
         <td><textarea name="wx_welcome" style="width:450px;height:60px;margin:5px 0 5px 0;"  class="ipt" >{:C('wx_welcome')}</textarea><span>&nbsp;&nbsp;例如:welcome about you</span>
     </tr>
    <tr> 
      <td height="48" colspan="2">
		  <div id="addkey"></div>
		  <div style="padding-left:100px;">
			<input type="submit" value="保存设置" />
		  </div>
	  </td>
    </tr>
	</form>
</table><br />
<br />
<br />

</div>
</body>
</html>
