<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>权限管理</title>
    <link href="/Public/server/images/main.css" type="text/css" rel="stylesheet">
    <script src="/Public/common/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<meta http-equiv="x-ua-compatible" content="ie=7" />

</head>
<body class="warp">


<div id="artlist" class="addn">
    <div class="mod kjnav">
        <a href="{:U('Node/index')}">节点列表</a>
        <a href="{:U('Node/add')}">添加节点</a>
    </div>
    <div class="cr"></div>

    <form id="form" action="{:U('Node/doAdd')}" method="post">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="addn">
      <tr>
        <th colspan="4">添加节点</th>
        </tr>
        <tr>
            <td height="48" align="right"><strong>归属顶部菜单：</strong></td>
            <td>
                <select name="top_menu_id" style="width:136px">
                    <volist name="top_menu" id="row">
                        <option value="{$row_id}">{$row.menu_name}</option>
                     </volist>
                </select>
            </td>
        </tr>
        <tr>
          <td height="48" align="right"><strong>归属节点：</strong></td>
          <td>
            <select name="pid" style="width:136px">
                <option value="">父级节点</option>
            </select>
          </td>
        </tr>
        <tr>
          <td  height="48" align="right"><strong>节点名称：</strong></td>
          <td><input type="text" name="name"  class="ipt" size="45" /></td>
        </tr>
        <tr>
          <td height="48" align="right"><strong>对应控制器：</strong></td>
          <td height="48"><input type="text" name="blong_c" value="" class="ipt" />　<strong>注释：</strong>填写控制器名</td>
        </tr>
        <tr>
            <td height="48" align="right"><strong>对应方法：</strong></td>
            <td height="48"><input type="text" name="blong_a" value="" class="ipt" />　<strong>注释：</strong>填写方法名</td>
        </tr>

        <tr>
          <td height="48" align="right"><strong>简介：</strong></td>
          <td height="48"><textarea style="width:340px;height:60px;margin:5px 0 5px 0;" name="description"  value="" class="ipt"></textarea></td>
        </tr>

        <tr>
            <td height="48" align="right">&nbsp;</td>
            <td height="48" align="left"><input type="submit" value="添加节点" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input onclick="window.history.back();" type="button" value="取消返回" /></td>
          </td>
        </tr>
    </table>
    </form>
<br />
<br />
<br />

</div>
</body>
</html>
