<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>导航</title>
<link href="/Public/server/images/style.css" type="text/css" rel="stylesheet">
<meta http-equiv="x-ua-compatible" content="ie=7" />
<script lanuage="JScript">
function tourl(url){
	parent.main.location.href=url;
}
</script>
</head>
<body style="background:none">

<div class="mbox">

    <if condition="$nav_id eq 1">
        <h3>站点管理</h3>
        <ul>
            <li><a href="{:U('Site/index')}" target="main" >站点设置</a></li>
            <li><a href="{:U('TopMenu/index')}" target="main" >顶部菜单</a></li>
            <li><a href="{:U('Node/index')}" target="main" >节点设置</a></li>
        </ul>

    <elseif condition="$nav_id eq 2"/>

        <h3>用户管理</h3>
        <ul>
            <li><a href="{:U('User/index')}" target="main" >用户中心</a></li>
            <li><a href="{:U('Group/index')}" target="main" >管理组</a></li>
            <li><a href="{:U('UserGroup/index')}" target="main" >会员组</a></li>
            <li><a href="{:U('Users/index')}" target="main" >前台用户</a></li>
        </ul>

    <elseif condition="$nav_id eq 3"/>


        <h3>内容管理</h3>
        <ul>
            <li><a href="{:U('Article/index')}" target="main" >微信图文</a></li>
            <li><a href="{:U('Text/index')}" target="main" >微信文本</a></li>
            <li><a href="{:U('Custom/index')}" target="main" >自定义页面</a></li>
        </ul>

    <elseif condition="$nav_id eq 4"/>

        <h3>公总号管理</h3>
        <ul>
            <li><a href="{:U('Token/index')}" target="main" >公总号管理</a></li>
        </ul>

    <elseif condition="$nav_id eq 5"/>

        <h3>功能模块</h3>
        <ul>
            <li><a href="{:U('Function/index')}" target="main" >功能模块</a></li>
        </ul>

    <elseif condition="$nav_id eq 6"/>

        <h3>扩展管理</h3>
        <ul>
            <li><a href="#" target="main" >友情链接</a></li>
            <li><a href="{:U('DataBack/index')}" target="main" >数据库备份</a></li>
            <li><a href="#" target="main" >其他其他</a></li>
        </ul>
    </if>

<p class="m_b"></p>
</div>
<!--/mbox-->

<!--/mbox-->

</body>
</html>
